
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../assets/img/products/3.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../assets/img/products/4.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../assets/img/products/3.jpg" alt="Third slide">
      </div>
    </div>
  </div>
  
  
  <div class="container">
   
  
   
      <h2>All Kind of clover products on sale</h2>
      
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="../assets/img/products/yoghurt.jpg" target="_blank">
              <img src="../assets/img/products/yoghurt.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="../assets/img/products/milk.jpg" target="_blank">
              <img src="../assets/img/products/milk.jpg" alt="Nature" style="width:100%">
              <div class="caption">
                <p>Lorddem ipsum donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="../assets/img/products/cheese.jpg" target="_blank">
              <img src="../assets/img/products/cheese.jpg" alt="Fjords" style="width:100%">
              <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  
